---
import Section from "../Section.astro";
import type { CV } from "@/types/cv";

interface Props {
  basics: CV["basics"];
  titles: CV["titles"];
}

const { basics, titles } = Astro.props;
const summary = basics.summary;
const title = titles.about;
console.log({ titles });
---

<Section title={title}>
  <div>
    {summary.map((p) => <p>{p}</p>)}
  </div>
</Section>

<style>
  div {
    margin-left: 0.5rem;
    padding: 0 0 0.5rem 1rem;
    border-left: 2px solid var(--block-quote-border);
  }

  p {
    margin-bottom: 0.5rem;
  }
</style>
