---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
</Section>

<style>
  p {
    margin-left: 0.5rem;
    padding: 1rem 0px 0px 1rem;
    border-left: 1px solid var(--block-quote-border);
    position: relative;
    display: flex;
  }
</style>
