---
import Section from "../Section.astro"
---

<Section title="">
  <div class="no-print">
    <p>
      Made with <span class="heart">&hearts;</span> by <a target="_blank" href="https://github.com/josemqu">josemqu</a>
    </p>
    <p>
      based on <a target="_blank" href="https://github.com/midudev">midudev's</a> <a href="https://github.com/midudev/minimalist-portfolio-json" target="_blank">minimalist-portfolio-json</a>
    </p>
</Section>

<style>
  footer {
    background: var(--slider-bg);
    color: var(--color-text);
    border-top: 1px solid var(--color-text);
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-block: 8px;
    text-align: center;
    font-size: 0.85rem;
  }
    
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  p {
    text-align: center;
    flex-wrap: nowrap;
  }

  a {
    color: var(--border-color);
    text-decoration:underline;
  }

  a:hover {
    color: var(--hover-border-color);
  }

  span {
    text-align: center;
  }

  .heart {
    color: red;
  }
</style>
