---
import { basics } from "@cv"
import Info from "./Info.astro"
import Section from "@/components/Section.astro"
import X from "@/icons/X.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/GitHub.astro"
import type { SocialIcon } from "@/types"

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location
const { link } = Astro.props

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
}

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")
---

<Section>
  <div class="profileContainer">
    <figure>
      <a href="/">
        <img transition:name="profile" src="me_big.jpg" alt={name}/>
      </a>
    </figure>
    <Info class="info"/>
  </div>
</Section>

<style>
  
  :root {
    --profile-img-max-width: 300px;
  }

  .name {
    font-size: 2rem;
  }

  h2 {
    color: var(--color-text);
    font-weight: 400;
    font-size: 1.1rem;
    text-wrap: balance;
  }

  img {
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
    /* max-width: var(--profile-img-max-width); */
  }

  .profileContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 1rem 2rem;
    }
  }
</style>
