---
import Section from "../Section.astro";

import type { Languages, Titles } from "@/types/cv.ts";

interface Props {
  languages: Languages[];
  titles: Titles;
}

const { languages, titles } = Astro.props;
const title = titles.languages;
---

<Section title={title}>
  <ul>
    {
      languages.map(({ language, fluency }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{language}</h3>
                </div>
              </header>
              <footer>
                <p>{fluency}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    margin-left: 0.5rem;
    gap: 2rem;
  }

  li {
    padding: 0 0 0.5rem 1rem;
    position: relative;
    display: flex;
  }

  li:before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--block-quote-border);
    position: absolute;
    top: 0.7rem;
    right: auto;
    left: -4px;
  }

  article {
    width: 100%;
  }

  article h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--bold-text);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  @media (width <= 700px) {
  }
</style>
